.app-main{
    width: 70%;
    height: 100vh;
}
.app-main-note-adit,
.app-main-note-preview{
    height: 50vh;

}

.app-main-note-adit{
    padding: 25px;
}
.app-main-note-adit input,textarea{
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    height: calc(50vh - 130px);
    padding: 5px;
    resize: none;
}

.app-main-note-adit input{
    height: 50px;
    font-size: 2rem;
}

.app-main-note-preview{
    border-top:1px solid #ddd;
    overflow-y:scroll;
    background: rgba(0,0,0,0.04);
}
.preview-title{
    padding: 25px 25px 0px 25px;
    margin: 0px;
}
.markdown-preview{
    padding: 0 25px 25px 25px;
    line-height:2rem;
}

.no-note{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a8a8a8;
    font-size: 2rem;
}